.destination {
  display: inline-block;
  position: relative;
  margin: 20px 8px;
  width: 150px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 3px 4px 12px 1px rgba(0, 0, 0, 0.3);
}

.destination-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.destination-img-container {
  position: relative;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.destination-name {
  margin-top: 5px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

/* --------------TABLET */
@media screen and (min-width:600px) {}

/* --------------DESKTOP */
@media screen and (min-width:1200px) {
  .destination {
    min-width: 350px;
    height: 350px;
    margin: 20px 40px;
  }

  .destination-img-container {
    height: 300px;
  }

  .destination-name {
    font-size: 30px;
  }
}
  